@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'halfre';
    src: url('./assets/font/halfre.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/* SPINNER */
@keyframes scaleUp {

    0%,
    100% {
        transform: scaleY(0.5);
    }

    50% {
        transform: scaleY(1.5);
    }
}

* {
    scrollbar-width: thin;
}